* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  color: #000;
}

.wrapp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
  height: 500px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  background-color: #fff;
  border: 2px solid #BDBDBD;
  margin-bottom: 20px;
  border-radius:5px;
  background-color: #E0F7FA;
}

.header-title {
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  justify-content: space-between;
  height: 60%;
  border: 2px solid #BDBDBD;
  margin-bottom: 20px;
}

.section-person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #FFF3E0;
  margin: 15px 0 15px 30px;
}

.section-person__img {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
}

.section-person__img img {
  width: 100%;
  height: 100%;
}

.section-person__title {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  color: #B0BEC5;
  text-shadow: 2px 2px 2px #000;
}

.section-info {
  display: flex;
  flex-direction: column;
  width: 60%;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 15px;
  padding: 15px;
}

.section-info__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-info__contacts p {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000;
  margin: 20px 0;
}

.section-info__contacts ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section-info__contacts li {
  font-size: 16px;
  margin: 10px 0;
}

.section-info__contacts li a {
  text-decoration: none;
  color: red;
}

.section-info__skils p {
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  background-color: #E1F5FE;
  border: 2px solid #BDBDBD;
  border-radius: 5px;
}

.footer a {
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  color: #000;
  transition: .5s;
}

.footer a:hover {
  color: red;
}
